In [15]:
import pandas as pd
groceries = pd.read_excel('Groceries.xlsx')
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15

In [17]:
#creating new column 'Last_Updated_Time'

groceries['Last_Updated_Time'] = groceries.Last_Updated.dt.time 
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Last_Updated_Time
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,15:35:00
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,18:30:00
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,17:22:00
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,16:29:00
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,18:10:00

In [18]:
# creating new column
groceries['Shipment_Date_DOW'] = groceries.Next_Scheduled_Shipment.dt.dayofweek
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Last_Updated_Time,Shipment_Date_DOW
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,15:35:00,3
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,18:30:00,3
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,17:22:00,3
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,16:29:00,3
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,18:10:00,3

In [21]:
#converting'Shipment_Date_DOW' from numeric into day
dow_mapping = {0:'Monday',
               1:'Tuesday',
               2:'Wednesday',
               3:'Thursday',
               4:'Friday',
               5:'Saturday',
               6:'Sunday'}
groceries['Shipment_Date_DOW'] = groceries['Shipment_Date_DOW'].map(dow_mapping)
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Last_Updated_Time,Shipment_Date_DOW
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,15:35:00,Thursday
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,18:30:00,Thursday
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,17:22:00,Thursday
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,16:29:00,Thursday
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,18:10:00,Thursday

In [23]:
# adding 1 day with column 'Next_Scheduled_Shipment'

groceries['New Scheduled Shipment'] = groceries.Next_Scheduled_Shipment + pd.to_timedelta(1, 'D')
groceries.head()

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Last_Updated_Time,Shipment_Date_DOW,New Scheduled Shipment
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,15:35:00,Thursday,2023-06-16
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,18:30:00,Thursday,2023-06-16
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,17:22:00,Thursday,2023-06-16
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,16:29:00,Thursday,2023-06-16
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,18:10:00,Thursday,2023-06-16

In [25]:
# creating 'Updated Scheduled Shipment' new column if category is 'Produce: Fruit'

import numpy as np
groceries['Updated Scheduled Shipment'] = np.where(groceries.Category == 'Produce: Fruit',
        groceries.Next_Scheduled_Shipment + pd.to_timedelta(1, 'D'),
        groceries.Next_Scheduled_Shipment)

groceries.head(30)

,Product_ID,Category,Item,Price_Dollars,Inventory,Last_Updated,Next_Scheduled_Shipment,Last_Updated_Time,Shipment_Date_DOW,New Scheduled Shipment,Updated Scheduled Shipment
0,P100010,Produce: Fruit,Apple,1.50,349,2023-06-12 15:35:00,2023-06-15,15:35:00,Thursday,2023-06-16,2023-06-16
1,P100011,Produce: Fruit,Banana,0.40,500,2023-06-12 18:30:00,2023-06-15,18:30:00,Thursday,2023-06-16,2023-06-16
2,P100012,Produce: Fruit,Grapes,4.00,200,2023-06-12 17:22:00,2023-06-15,17:22:00,Thursday,2023-06-16,2023-06-16
3,P100013,Produce: Fruit,Grapefruit,0.99,50,2023-06-12 16:29:00,2023-06-15,16:29:00,Thursday,2023-06-16,2023-06-16
4,P100014,Produce: Fruit,Organic Strawberries,3.99,148,2023-06-12 18:10:00,2023-06-15,18:10:00,Thursday,2023-06-16,2023-06-16
5,P100015,Produce: Fruit,Watermelon,5.99,99,2023-06-12 19:15:00,2023-06-15,19:15:00,Thursday,2023-06-16,2023-06-16
6,P100016,Produce: Vegetable,Cabbage,1.78,78,2023-06-12 19:25:00,2023-06-15,19:25:00,Thursday,2023-06-16,2023-06-15
7,P100017,Produce: Vegetable,Carrots,2.00,200,2023-06-12 18:05:00,2023-06-15,18:05:00,Thursday,2023-06-16,2023-06-15
8,P100018,Produce: Vegetable,Celery,1.99,50,2023-06-12 16:42:00,2023-06-15,16:42:00,Thursday,2023-06-16,2023-06-15
9,P100019,Produce: Vegetable,Cucumber,0.99,230,2023-06-12 17:47:00,2023-06-15,17:47:00,Thursday,2023-06-16,2023-06-15
10,P100020,Produce: Meat,Beef,8.99,145,2023-06-13 07:00:00,2023-06-17,07:00:00,Saturday,2023-06-18,2023-06-17
11,P100021,Produce: Meat,Chicken (Organic),10.49,284,2023-06-13 07:20:00,2023-06-17,07:20:00,Saturday,2023-06-18,2023-06-17
12,P100022,Produce: Meat,Turkey,7.99,188,2023-06-13 07:32:00,2023-06-17,07:32:00,Saturday,2023-06-18,2023-06-17
13,P100023,Produce: Dairy,Butter,3.50,400,2023-06-13 08:35:00,2023-06-17,08:35:00,Saturday,2023-06-18,2023-06-17
14,P100024,Produce: Dairy,Eggs,3.29,234,2023-06-13 08:54:00,2023-06-17,08:54:00,Saturday,2023-06-18,2023-06-17
15,P100025,Produce: Dairy,Milk (Soy),4.49,32,2023-06-13 08:37:00,2023-06-17,08:37:00,Saturday,2023-06-18,2023-06-17
16,P100026,Produce: Dairy,Yogurt,1.00,432,2023-06-13 08:41:00,2023-06-17,08:41:00,Saturday,2023-06-18,2023-06-17
17,P100027,Pantry: Snacks,Apple Sauce - organic,1.50,27,2023-06-10 12:02:00,2023-06-24,12:02:00,Saturday,2023-06-25,2023-06-24
18,P100028,Pantry: Snacks,Chips,2.50,365,2023-06-10 12:12:00,2023-06-24,12:12:00,Saturday,2023-06-25,2023-06-24
19,P100029,Pantry: Snacks,Cookies (Oatmeal),5.39,340,2023-06-10 12:24:00,2023-06-24,12:24:00,Saturday,2023-06-25,2023-06-24
20,P100030,Pantry: Snacks,Raisins,2.99,5,2023-06-10 12:38:00,2023-06-24,12:38:00,Saturday,2023-06-25,2023-06-24
21,P100031,Frozen: Frozen Snacks,Chicken Nuggets,6.99,85,2023-05-28 22:02:00,2023-06-28,22:02:00,Wednesday,2023-06-29,2023-06-28
22,P100032,Frozen: Frozen Snacks,Spinach Dip,4.96,76,2023-05-28 22:05:00,2023-06-28,22:05:00,Wednesday,2023-06-29,2023-06-28
23,P100033,Frozen: Frozen Fruit,Frozen Blueberries,10.99,162,2023-05-28 22:14:00,2023-06-28,22:14:00,Wednesday,2023-06-29,2023-06-28
24,P100034,Frozen: Frozen Fruit,Frozen Pineapple,7.96,178,2023-05-28 22:11:00,2023-06-28,22:11:00,Wednesday,2023-06-29,2023-06-28